# ignore system files
.DS_Store
thumbs.db
__MACOSX
._*
*.swp
*.rej

# ignore the site.php
/web/config/site.php

#ignore everything but the index.html
/web/files/*
!/web/files/index.html

# ignore updates folder
/web/updates/*

# ignore packages folder
/web/packages/*
/web/concrete/packages/*

# ignore sitemap.xml
/web/sitemap.xml

# ignore composer installed packages
/web/vendor

# ignore the error log and .htaccess and others
error_log
.htaccess
.ftpquota
/.idea/

# ignore Aptana and Eclipse project files
.project

# ignore Eclipse-specific files
/.settings/
/.buildpath

# ignore JavaScript source maps
/web/js/*.js.map
/web/js/ccm.app.js
/web/js/ccm.base.js

# ignore node modules used for building
/build/node_modules
/build/release
/build/Gruntfile.parameters.js
/build/npm-debug.log
